/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.navbar-brand-text {
  padding-top: 15px;
  font-family:Verdana;
  font-size: 15pt;
  font-weight: normal;
}
